/*//////////////////////////////////////////////////
--------------------------------------------------
RESET CSS
--------------------------------------------------
//////////////////////////////////////////////////*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------
General
--------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
  position: relative;
}

.btn-green {
  background: #78bf00;
  padding: 24px;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
HEADER
--------------------------------------------------
//////////////////////////////////////////////////*/

header {
  background: #193059 url("../img/oldman.png");
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #fff;
}

header .container {
  position: relative;
  height: 55vh;
}

.header-top:after {
  content: '';
  display: table;
  clear: both;
}

.header-bottom {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
}

.header-bottom h1 {
  width: 60%;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 32px;
}

/*--------------------------------------------------
Menu navigazione principale
--------------------------------------------------*/

.navbar {
  float: left;
}

ul.menu {
  padding: 0;
}

ul.menu li {
  display: inline;
  list-style: none;
  line-height: 80px;
}

ul.menu li a {
  padding: 12px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.navbar ul.menu li:first-child a {
  margin-right: 64px;
  padding: 0px;
}

.logo {
  padding: 0px;
  position: relative;
  vertical-align: -8px;
}

.side-menu {
  float: right;
}

.btn-login {
  padding: 10px 32px;
  border: 1px solid #fff;
  border-radius: 6px;
}

.side-menu .btn-green {
  padding: 10px;
  display: inline;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
MAIN
--------------------------------------------------
//////////////////////////////////////////////////*/

main {
  background: #fff;
}

[class^="main"] {
  padding: 48px 0px;
}

.main-top {
  background: #d1d1d1;
}

.main-center {
  border-bottom: 1px solid #dedede;
}

.main-center .container:after {
  content: '';
  display: table;
  clear: both;
}

/*--------------------------------------------------
Card
--------------------------------------------------*/

.card {
  background: #e4d73a;
  width: calc(33.33% - 8px);
  margin-right: 12px;
  padding: 16px;
  float: left;
}

.card:last-child {
  margin-right: 0px;
}

/*--------------------------------------------------
Main Bottom
--------------------------------------------------*/

.main-bottom .container:after {
  content: '';
  display: table;
  clear: both;
}

.main-bottom-img {
  width: 50%;
  margin-right: 32px;
  float: left;
  background: #c6289e;
}


/*//////////////////////////////////////////////////
--------------------------------------------------
FOOTER
--------------------------------------------------
//////////////////////////////////////////////////*/

footer {
  padding: 48px;
  background: #d1d1d1;
}

footer h2 {
  display: inline-block;
}

footer form {
  display: inline-block;
  float: right;
}
