/*//////////////////////////////////////////////////
--------------------------------------------------
RESET CSS
--------------------------------------------------
//////////////////////////////////////////////////*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------
General
--------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  background: darkred;
}

.container {
  width: 1200px;
  margin: auto;
  background: rgb(255, 255, .1);
  position: relative;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
HEADER
--------------------------------------------------
//////////////////////////////////////////////////*/

header {
  height: 50vh;
  background: #ff000010;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
MAIN
--------------------------------------------------
//////////////////////////////////////////////////*/

main {
  background: #00ff0010;
}

.main-top {
  background: #00ff0015;
}

.main-center {
  background: #00ff0020;
}

.main-bottom {
  background: #00ff0025;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
FOOTER
--------------------------------------------------
//////////////////////////////////////////////////*/

footer {
  background: #0000ff10;
}
